.mercure {
    background-color:yellow ;
}

.venus {
    background-color: pink;
}
.terre {
    background-color: blue ;
}
.mars {
    background-color: grey ;
}
.jupiter {
    background-color: green ;
}
.saturne {
    background-color: red ;
}
.neptune{
    background-color: purple;
}