*{
    box-sizing: border-box;
    margin: 0;
    line-height: 2;
}
span{
    background-color: yellow;
}
figure{
    text-align: center;
}
img{
    border: solid 5px orange;
    margin-top: 40px;
    margin-bottom: 20px;
}
.formtitle{
    border: solid 2px red;
    color: red;
    text-align: center;
}
th, td{
    border: 2px solid black;
}
