body {
    background-image: url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg);
    background-size: cover;
    
}
h2, p {
    color: #003333;
    text-align: center;
    border: 5px solid #440026;
    cursor: pointer;
}
p{
    color: rgb(38, 0, 255);
}
li {
    list-style: none;
    display: inline-block;
}
.webtext {
    border: dashed chocolate;
}
.active {
    color: black;
}
#div1 {
    background: rgba(0, 0, 200, 0.2);
}
#div2 {
    background: rgba(200, 0, 0, 0.2);
}