<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle List</title>
</head>
<body>
    <h1>Vehicles:</h1>
    {%for cat in Category%}
        <h2>{{cat}} :</h2>
       
            {%for vehic in Vehicles%}
                {%if vehic.vehicle_type == cat%}
                <h4>{{vehic.id}} </h4>        
                <p>{{vehic.date_created}}</p> 
                <p>{{vehic.real_cost}}</p> 
                <p>{{vehic.size}} </p>
                <br>

                {%if vehic.rentals %}
                    <p> Vehicle {{vehic.id}} rented on: {{vehic.rentals.rental_date}}</p>
                    <p>Rented by {{vehic.rentals.customer}} </p>
                    {%if vehicle.rentals.return_date%}
                       <p>Returned on : {{vehicle.rentals.return_date}} </p>
                {%else%}
                   <p>Vehicle not rented</p>
                    {%endif%}
                
                {%endif%}
                {%endif%}
            {%endfor%}
    {%endfor%}
        


    
</body>
</html>