<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle by pk</title>
</head>
<body>
    <h1>Informations of the Vehicle:</h1>
    <p>Id: {{vehicle.id}} </p>
    <p>Type: {{vehicle.vehicle_type}} </p>
    <p>Date of creation: {{vehicle.date_created}} </p>
    <p>Size : {{vehicle.size}} </p>
    <br>
    <h3>Rentals: </h3>

    {%for rent in rentals%}
       {%if rent.return_date is null %}
       <p> The vehicle is currently rented by {{rent.customer}} since {{rent.rental_date}} </p>
       {%else%}
       <h5>Rent number {{rent.id}} </h5>
       <p>Rented by {{rent.customer}} from {{rent.rental_date}} to {{rent.return_date}} </p>
       {%endif%}
    {%endfor%}
    
</body>
</html>