section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    
}

.Language {
  border: 2px solid black;
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 auto ;
  justify-content: space-around;
  background-color: yellow;
  
    
}