{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<h3 >Title: {{ film.title }}</h3>
<p >Release Date: {{ film.release_date|date:"F d, Y" }}</p>
<p >Created in: {{ film.created_in_country }}</p>

<p >Available in:
    {% for country in film.available_in_countries.all %}
    {{ country.name }}

      {% endfor %}</p>

<p >Category:
    {% for category in film.category.all %}
    {{ category.name }}

    {% endfor %}</p>

<p >Director:
    {% for director in film.director.all %}
    {{ director }}

    {% endfor %}</p>

<p >Reviews: <br>
    {% for rev in film.film_name.all %}
     rate : {{ rev.rating }}
    <br>
    {{rev.review_text}}
    <br>
    {%endfor%}

<form method="post" action="{% url 'favorites' film.id %}">
  {% csrf_token %}
  {% if film in request.user.user_profile.favorite_film.all %}
    <button type="submit">Remove from favorites</button>
  {% else %}
    <button type="submit">Add to favorites</button>
  {% endif %}
</form>

{% endif %}
{% endblock %}

