div{
    border: solid 2px black;
    background: yellow;
    width: 100px;
    height: 100px;
}

main{
    display: flex;
    justify-content: space-between;
}

.gauche, .droite{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.milieu{
    display: flex;
    align-items: center;
    gap: 50px;
    
}

